<p3>Purchased item shipped from Pragmatic Store</p>
<p>
	This mail is to inform you that your item is dispatched
</p>

<table>
	<tr><th colspan="2">Quantity</th><th>Status</th></tr>
<%= render @order.line_items %>
</table>